.new-task-div {
    width: min(85%, 34rem);
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-top: 2rem;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    
}

.new-task{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

  .rounded-checkbox {
    margin: 0 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(45% at 50% 50%);
    background-color: rgb(255, 0, 0);
  }


  .task-list{
    width: min(85%, 34rem);
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-top: 2rem;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .fa-plus{
    cursor: pointer;
    margin-right: 10px;
  }
  .fa-plus:hover{
    color: rgb(182, 171, 171);
  }

.task-list ul{list-style: none;margin: 0; padding: 0;}

.task-list ul li {
  display: flex;
  align-items: center;
  border-spacing: 30px;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #d2cfcf;
  outline: none;
  margin-top: 10px;
  border-radius: 10px;
    
}

.task-list ul li h6{
  overflow: hidden;
  text-overflow: ellipsis;

}

.trash-icon{
  margin-left: auto;
  color: rgb(156, 42, 22);
}
.trash-icon:hover{
  cursor: pointer;
  color: rgb(219, 100, 79);;
}

.task-filter-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4e1010;
}

.task-filter-menu > a {
  cursor: pointer;
} 

.task-striked{
  text-decoration: line-through;
  color: #9a8f8f;
}
